# Directories
/.plandex/
/.vscode/
/FreeAskInternet/
/target/
/firedbg/
/build/
/.git/
/.mypy_cache/
/blah/
/kraken2/
/czkawka/

# Files
.DS_Store
Cargo.lock
*.dmp
*.txt
*.sh
.gitignore
test_taxonomy.k2d
