# Hidden Directories
/.plandex/
/.vscode/
/.idea/
/.git/
/.mypy_cache/
/.pytest_cache/

# Other directories
/FreeAskInternet/
/target/
/firedbg/
/build/
/blah/
/kraken2/
/czkawka/

# Files
.DS_Store
Cargo.lock
*.dmp
*.txt
*.sh
.gitignore
test_taxonomy.k2d
